.sketch {
    position: fixed;
    visibility: hidden;
    border: #0000FF;
    left: 0px;
    top: 0px;
    z-index: -1;
}
canvas {
    position: fixed;
    opacity: 20%;
}

.nav {
    /* background-color: blue; */
    position: relative;
    float: top;
    width: 80%;
    /* height: 5em; */
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    margin-left: 2em;
    margin-right: 2em;
}
.nav-element {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 2em;
    position: relative;
}

.main {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.side-bar {
    /* background-color: green; */
    position: sticky;
    top: 0;
    float: left;
    width: 20%;
    padding-bottom: 2em;
}

.pfp {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 50%;
}

#tagline>h2, p {
    margin: 0;
}

.social {
    margin-top: 1em;
}

.main-body {
    /* background-color: rebeccapurple; */
    position: relative;
    float: right;
    width: 80%;
}

.body-content {
    margin-right: 20%;
    line-height: 1.6;
    text-shadow:
    -1px -1px 0 #fff,
     0   -1px 0 #fff,
     1px -1px 0 #fff,
     1px  0   0 #fff,
     1px  1px 0 #fff,
     0    1px 0 #fff,
    -1px  1px 0 #fff,
    -1px  0   0 #fff;
}

.body-content p {
    margin-bottom: 1.5em;
}

.body-link {
    text-decoration: underline;
    color: #0000FF;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding-bottom: 50%;
    /* overflow: hidden; */
    /* background-color: green; */
}

p {
    color: black;
}

html {
    min-height: 100%;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

#res-block {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 100;
    visibility: hidden;
}

#res-button {
    text-decoration: underline;
}

#sad-dog {
    display: block;
    height: 50%;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}

@media (max-width:985px) {
    #res-block  {
        visibility: visible;
    } 

    body {
        overflow: hidden;
    }
}
